.vscode/
.idea/
xuei.7z
测试/
venv.7z
snow-toolbox-master.7z
Qwen3.5-0-8B/
Core/LICENSE.py
Core/DB-LICENSE.py
screen_parser_standalone/OmniParser
DB.py
Station B tool/chromedriver.exe
Station B tool/LICENSE.chromedriver
Station B tool/THIRD_PARTY_NOTICES.chromedriver


# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtualenv
venv/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# IDE
*.swp
*.swo
*~